In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import nltk
import string

In [2]:
filepath="data/"

In [15]:
train=pd.read_csv(filepath+"train.csv",header=-1)

In [17]:
train.columns=['Label','Title','Summary']
train.head()

,Label,Title,Summary
0,3,Wall St. Bears Claw Back Into the Black (Reuters),"Reuters - Short-sellers, Wall Street's dwindli..."
1,3,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...
2,3,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...
3,3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...
4,3,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco..."

In [26]:
train_titles=train["Title"]
train_summaries=train["Summary"]

def SeriesToText(s):
    string=""
    for i in range(len(train_titles)):
        string+=s.iloc[i]+" "
    return string

In [47]:
train_title_text=SeriesToText(train_titles)

In [48]:
title_tokens=nltk.word_tokenize(RemovePunctuation(train_title_text))

In [49]:


def RemovePunctuation(s):
    return s.translate(str.maketrans('','',string.punctuation))

In [50]:
#pd.Series(title_tokens).value_counts()

to                   22720
in                   16710
for                  11630
on                    8940
of                    8718
AP                    7778
39s                   6078
US                    5718
the                   4953
Reuters               4262
a                     3733
at                    3657
39                    3233
with                  3035
as                    3008
and                   2894
New                   2579
ltbgtltbgt            2559
Microsoft             2237
Iraq                  2175
by                    2038
AFP                   1966
Oil                   1897
up                    1546
Up                    1523
China                 1483
over                  1473
from                  1437
new                   1402
Stocks                1338
                     ...
39CLICHES                1
PowerColor               1
I10                      1
backstabbers             1
bonfire                  1
Deserve                  1
Discreet                 1
impacts                  1
VenezuelaColombia        1
sshagent                 1
Pentup                   1
GIBERNAU                 1
Extrasolar               1
careless                 1
1shot                    1
rehire                   1
mightier                 1
XDA                      1
Crossborder              1
1Alaska                  1
ami                      1
deleted                  1
Bolivias                 1
Nutt                     1
sacrifices               1
NWE99                    1
Kundun                   1
Mustafizur               1
modestincome             1
twelve                   1
Length: 56716, dtype: int64